
<div>
        <h2 class="index1">Bienvenido a tu Almacen de Mar </h2>
        <div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
 
</div>
       </div>
<div class="container-fluid">
            <h5 class="parrafo1">En nuestra tienda online podrás encontar los mejores productos del Mar</h5>
            <h5 class="parrafo2">y en un par de clicks tenerlos en la comodidad de tu hogar.</h5>
            <h5 class="parrafo3">Somos una empresa familiar que entiende la importacia de disfrutar</h5>
            <h5 class="parrafo4">de la comida hecha en casa, por eso nuestros productos son los más</h5>
            <h5 class="parrafo5">frescos del mercado, y así, te los hacemos llegar.</h5>
            <h5 class="parrafo6">Pasa por nuestro local y conoce las mejores recetas de nuestros especialistas.</h5> 
       
</div>



