


<div class="row row-cols-2 row-cols-md-2 g-5" style="margin-bottom: 1cm; margin-left: 5cm; margin-top: 0.5cm; ">
  <div class="col">
    <div class="card" style="width: 8cm; height: 8cm">
      <img src="/multimedia/langos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Langostinos</h5>
        <p class="card-text">$2500 por Kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 8cm; height: 8cm">
      <img src="/multimedia/atun.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Atún Rojo del Pacífico</h5>
        <p class="card-text">$5000 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/calamar.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Calamar</h5>
        <p class="card-text">$2000 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/cangrejo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cangrejo</h5>
        <p class="card-text">$6000 por kilo.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-2 row-cols-md-2 g-5" style="margin-bottom: 1cm;margin-left: 5cm;">
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/langospan.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Langostino apanado</h5>
        <p class="card-text">$3000 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/mejillon.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mejillon</h5>
        <p class="card-text">$2800 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/pulpo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pulpo Español</h5>
        <p class="card-text">$7500 por kilo</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/salmon.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Salmon Ahumado</h5>
        <p class="card-text">$9500 por kilo.</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-2 row-cols-md-2 g-5" style="margin-bottom: 1cm;margin-left: 5cm;">
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/tilapia-raw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lenguado</h5>
        <p class="card-text">$3600 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/salmon2.jpg" class="card-img-top" alt="..." style="height: 5.3cm;">
      <div class="card-body">
        <h5 class="card-title">Salmon</h5>
        <p class="card-text">$6500 por kilo..</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/mixmariscos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mix Mariscos</h5>
        <p class="card-text">$4300 por kilo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card"style="width: 8cm; height: 8cm">
      <img src="/multimedia/corvina.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Corvina</h5>
        <p class="card-text">$4200 por kilo.</p>
      </div>
    </div>
  </div>
</div>
</div>