<div style="text-align: center; margin-top: 1cm; margin-bottom: 1cm; color: white;">
    <h3>Hemos recibido su pedido, gracias por comprar con La Ribera.</h3>
    <h3>Estaremos enviando la confirmación a su correo electrónico.</h3>    
</div>