<div style="align-content: center; margin-top: 1cm;">
    <h1 style="color: rgb(253, 252, 252); text-align:center">No tenemos conexion a la Database</h1>
    <h3 style="color: rgb(253, 252, 252); text-align:center">Pagina de Prueba</h3>
</div>