<div><h2 style="color: rgb(248, 245, 245); text-align:center; margin-top: 1cm;">Podes visitarnos en nuestro local de Vicente López</h2></div>


<div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.0047526628164!2d-58.49423668519793!3d-34.528107561007495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb104ce40bcbf%3A0x460ea5a712bb7020!2sLa%20Ribera!5e0!3m2!1ses!2sar!4v1672693696163!5m2!1ses!2sar" width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div style="text-align: center; color:rgb(248, 245, 245)">
    <h4>Av. San Martín 2190, Florida, Vicente López, Buenos Aires.</h4>
    <h5>Horario: de 10 a 14 y de 17 a 20.</h5>
</div>